+b.HEADER.header
    +e.wrapper.wrapper
        +e.top
            +e.left
                +e.info
                    +b.info
                        ul
                            li Фамилия:
                                span Борбиев
                            li Имя:
                                span Кайрат
                            li Отчество:
                                span Кайратович
                    +b.address
                        ul
                            li Область:
                                span Чуй
                            li Город:
                                span Бишкек
                            li Улица:
                                span Советская 122Б
            +e.right
                +e.photo
                    +b.photo
                        img(src="img/user-2.jpg", alt="image")